@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center">
        <h2>Out Of Cite</h2>
        <h4>Bringing Quality, Low Tier Publications Into View</h4>
    </div>
    <div class="col-sm-offset-3 col-sm-6 text-center">
        <button><a asp-area="Identity" asp-page="/Account/Register">Register</a></button>
        <button><a asp-area="Identity" asp-page="/Account/Login">Login</a></button>
    </div>
</div>


